.cards-position{
    max-width: 1940px;
    margin: auto;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.text-container{
    display: flex;
    padding: 0 20px;
    gap: 30px;

    font-weight: 600;
    font-size: large;
}
.cards{
    height: auto;
    width: auto;
}


